
   body{
    background:#e4e4e4; 
    font-family:sans-serif;
   }
   th{
    background:#d5d6d6;
   }
   td{
    background: #fff;
   }
   table{
    border-collapse: separate;
    border-spacing: 1em 0.5em;
    background-color:#ddd;
   }
   th, td{
    border: 1px solid #000;
    padding: 4px;
   }
   tfoot{
    font-weight:bold;
   }